{{ define "main" }}
<article class="article">

    <header class="article__header">

        <h1 class="article__title">{{ .Title }}</h1>

        <ul class="article__meta">
            <li>
                <time>{{ .Date.Format "2<span>·</span>1<span>·</span>2006" | safeHTML }}</time>
            </li>
            <li>
                <ul class="article__categories">
                    {{ range (.GetTerms "categories") }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </li>
        </ul>

        {{ with .Page.Resources.GetMatch "img/illustration.png" }}
            {{ $params := "%vx q%v jpg #fff" }}
            {{ $width := 700 }}
            {{ $widthRetina := 1400 }}
            {{ $smallWidth := 400 }}
            {{ $smallWidthRetina := 800 }}
            {{ $quality := 70 }}
            {{ $qualityRetina := 50 }}
            {{ $image := .Resize (printf $params $width $quality) }}
            {{ $imageRetina := .Resize (printf $params $widthRetina $qualityRetina) }}
            {{ $imageTiny := .Resize (printf $params $smallWidth $quality) }}
            {{ $imageTinyRetina := .Resize (printf $params $smallWidthRetina $qualityRetina) }}
            <figure class="article__illustration">
                <img
                    sizes="(min-width: 760px) {{ $width }}px, 90vw"
                    srcset="{{ $image.Permalink }} {{ $width }}w, {{ $imageRetina.Permalink }} {{ $widthRetina }}w, {{ $imageTiny.Permalink }} {{ $smallWidth }}w, {{ $imageTinyRetina.Permalink }} {{ $smallWidthRetina }}w"
                    src="{{ $image.Permalink }}"
                    role="presentation"
                    class="article__illustration-drawing"
                >
                {{ with $.Page.Resources.GetMatch "img/illustration-overlay.svg" }}
                    <img class="article__illustration-overlay" src="{{ .Permalink }}" alt="">
                {{ end }}
            </figure>
        {{ end }}

        {{ with .Params.quote }}
            <blockquote class="article__intro">
                <p>{{ .content }}</p>
                <cite><a href="{{ .link }}">{{ .source }}</a></cite>
            </blockquote>
        {{ end }}

    </header>

    {{ $dropcap := substr (.Content | plainify) 0 1 -}}
    <div class="article__content content" data-dropcap="{{ $dropcap }}">
        {{ .Content }}
    </div>

    <section class="article__discussion discussion" id="diskuze">
        <h2 class="discussion__heading">Diskuze</h2>
        <p class="discussion__info content">Pokud jste v článku našli faktickou chybu nebo chcete-li přispět názorem či kritikou, použijte prosím e-mail <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>. Vyhrazuji si právo zveřejnit jen ty příspěvky, které přímo souvisí s článkem, jsou přínosné a splňují kritéria slušnosti a srozumitelnosti. Zároveň beru v potaz jen ty zprávy, které jsou podepsané a mají jasného autora. Respektuji však právo na soukromí, prosím tedy, abyste v mailu uvedli, pod jakým jménem či přezdívkou mám příspěvek zobrazit.</p>
    </section>

</article>
{{ end }}

{{ define "footer" }}
<nav class="site-footer__article-nav">
    <ul>
        {{ with .PrevInSection }}
            <li><a href="{{ .Permalink }}" rel="prev"><span>{{ .Title }}</span></a></li>
        {{ end }}
        <li><a href="#" rel="top"><span>Nahoru</span></a></li>
        {{ with .NextInSection }}
            <li><a href="{{ .Permalink }}" rel="next"><span>{{ .Title }}</span></a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
