<!DOCTYPE html>
<html lang="cs">
<head>
    {{- $title := cond .IsHome .Site.Title (printf "%s · %s" .Title .Site.Title) -}}
    {{- $description := cond .IsPage .Summary .Site.Params.description -}}
    {{- $image := cond .IsPage (.Resources.GetMatch (string .Page.Params.image)) (resources.Get "img/image.jpg") }}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0" />
    <link rel="preload" href="/fonts/source-serif-variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/source-serif-italic-variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/space-grotesk-variable.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}index.xml" title="decentrum" />
    {{ with resources.Get "css/default.scss" | toCSS | postCSS | minify | resources.Fingerprint "md5" -}}
        <link rel="stylesheet" href="{{ .Permalink }}" />
    {{ end -}}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}" />
    {{ with $image -}}
        {{ $img := .Fill "1200x1200 q50" -}}
        {{ $shortTitle := $title | truncate 70 -}}
        {{ $shortDesc := $description | truncate 200 -}}
        <meta property="og:title" content="{{ $shortTitle }}" />
        <meta property="og:description" content="{{ $shortDesc }}" />
        <meta property="og:image" content="{{ $img.Permalink }}" />
        <meta property="og:site_name" content="{{ $.Site.BaseURL }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ $.Permalink }}" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="{{ $.Site.BaseURL }}" />
        <meta name="twitter:creator" content="@de_centrum" />
        <meta name="twitter:title" content="{{ $shortTitle }}" />
        <meta name="twitter:description" content="{{ $shortDesc }}" />
        <meta name="twitter:image" content="{{ $img.Permalink }}" />
    {{- end }}
</head>
<body>

    <header class="site-header">

        <nav class="site-header__nav">
            <div class="site-header__tile">
                <h1 class="site-header__title"><a href="/">de<span aria-hidden="true">·</span>centrum</a></h1>
                <p class="site-header__desc">praktická<br>soběstačnost<br>v komplexním světě</p>
            </div>
            <div class="site-header__tile">
                <a href="" title=""><img role="presentation" src="/img/tile-skills.jpg"></a>
            </div>
            <div class="site-header__tile">
                <a href="" title=""><img role="presentation" src="/img/tile-health.jpg"></a>
            </div>
            <div class="site-header__tile">
                <a href="" title=""><img role="presentation" src="/img/tile-money.jpg"></a>
            </div>
            <div class="site-header__tile">
                <a href="" title=""><img role="presentation" src="/img/tile-technology.jpg"></a>
            </div>
            <div class="site-header__tile">
                <ul class="site-header__links">
                    <li><a href="{{ .Site.BaseURL }}index.xml">RSS</a></li>
                    <li><a href="mailto:info@decentrum.cz">E-mail</a></li>
                    <li><a href="https://twitter.com/de_centrum">Twitter</a></li>
                </ul>
            </div>
        </nav>

    </header>

    <main class="site-content">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="site-footer">

        <section class="site-disclaimer content">
            <h3>Upozornění</h3>
            <p>Nejsme lékaři, ani finanční poradci. Veškeré zde uvedené informace a tipy představují náš osobní názor a neslouží jako konkrétní investiční nebo lékařské doporučení. Rozhodnutí se jimi řídit ponecháváme vaší zodpovědnosti a zdravému rozumu.</p>
            <p>V případě některých odkazů používáme <em><a href="https://cs.wikipedia.org/wiki/Affiliate_marketing">affiliate marketing</a></em>. Pokud při návštěvě odkazovaného webu koupíte produkt či službu, obdržíme pár procent z prodejní ceny. Jde o jeden z mála rozumných způsobů, jak finančně podpořit provoz webu, narozdíl od reklam či prodeje uživatelských dat. Všechny produkty či služby, na které tímto způsobem odkazujeme, buď sami používáme nebo bychom je s čistým svědomím doporučili nejbližším.</p>
        </section>

    </footer>

</body>
</html>