<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0" />
    <link rel="preload" href="/fonts/source-serif-variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/source-serif-italic-variable.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/space-grotesk-variable.ttf" as="font" type="font/ttf" crossorigin />
    {{ with .OutputFormats.Get "rss" -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}" />
    {{ end -}}
    {{ with resources.Get "css/default.scss" | toCSS | postCSS | minify | resources.Fingerprint "md5" -}}
        <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}" />
    {{ end -}}
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Summary }}" />
</head>
<body>

    <header class="site-header">

        <div class="tiles">
            <div class="tile">
                <h1 class="site-title"><a href="/">de<span aria-hidden="true">·</span>centrum</a></h1>
                <p class="site-desc">praktická<br>soběstačnost<br>v komplexním světě</p>
            </div>
            <div class="tile">
                <img src="/img/tile4bw.jpg">
            </div>
            <div class="tile">
                <img src="/img/tile3bw.jpg">
            </div>
            <div class="tile">
                <img src="/img/tile1bw.jpg">
            </div>
            <div class="tile">
                <img src="/img/tile2bw.jpg">
            </div>
            <div class="tile">
                <nav class="site-nav">
                    <ul>
                        <li><a href="">Archiv</a></li>
                        <li><a href="">RSS</a></li>
                        <li><a href="https://decentrum.substack.com">Newsletter</a></li>
                        <li><a href="mailto:info@decentrum.cz">E-mail</a></li>
                        <li><a href="https://twitter.com/de_centrum">Twitter</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <section class="site-disclaimer content">
            <h3>Upozornění</h3>
            <p>Nejsme lékaři, ani finanční poradci. Veškeré zde uvedené informace a tipy představují náš osobní názor a neslouží jako konkrétní investiční nebo lékařské doporučení. Rozhodnutí se jimi řídit ponecháváme vaší zodpovědnosti a zdravému rozumu.</p>
            <p>V případě některých odkazů používáme <em><a href="https://cs.wikipedia.org/wiki/Affiliate_marketing">affiliate marketing</a></em>. Pokud při návštěvě odkazovaného webu koupíte produkt či službu, obdržíme pár procent z prodejní ceny. Jde o jeden z mála rozumných způsobů, jak finančně podpořit provoz webu, narozdíl od reklam či prodeje uživatelských dat. Všechny produkty či služby, na které tímto způsobem odkazujeme, buď sami používáme nebo bychom je s čistým svědomím doporučili nejbližším.</p>
        </section>

    </header>

    <main class="site-content content">
        {{ block "main" . }}{{ end }}
    </main>

    <footer class="site-footer"></footer>

</body>
</html>