{{ define "main" }}
{{ with .GetPage "/archiv/decentralizovana-spolecnost" }}
<article class="article">

    <header class="article__header">
        <h1>{{ .Title }}</h1>
        <time>{{ .Date.Format "2<span>·</span>1<span>·</span>2006" | safeHTML }}</time>

        {{ with .Params.quote }}
            <blockquote>
                <p>{{ .content }}</p>
                <cite><a href="{{ .link }}">{{ .source }}</a></cite>
            </blockquote>
        {{ end }}

    </header>

    {{ $dropcap := substr (.Content | plainify) 0 1 -}}
    <div class="article__content content" data-dropcap="{{ $dropcap }}">
        {{ .Content }}
    </div>

    <section class="article__discussion discussion" id="diskuze">
        <h2 class="discussion__heading">Diskuze</h2>
        <p class="discussion__info content">Pokud jste v článku našli faktickou chybu nebo chcete-li přispět názorem či kritikou, použijte prosím e-mail <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>. Vyhrazuji si právo zveřejnit jen ty příspěvky, které přímo souvisí s článkem, jsou přínosné a splňují kritéria slušnosti a srozumitelnosti. Zároveň beru v potaz jen ty zprávy, které jsou podepsané a mají jasného autora. Respektuji však právo na soukromí, prosím tedy, abyste v mailu uvedli, pod jakým jménem či přezdívkou mám příspěvek zobrazit.</p>
    </section>

    <footer class="article__footer">

        <ul class="article__nav">
            {{ with .PrevInSection }}
                <li><a href="{{ .Permalink }}" rel="prev"><span>{{ .Title }}</span></a></li>
            {{ end }}
            <li><a href="#" rel="top"><span>Nahoru</span></a></li>
            {{ with .NextInSection }}
                <li><a href="{{ .Permalink }}" rel="next"><span>{{ .Title }}</span></a></li>
            {{ end }}
        </ul>

    </footer>

</article>
{{ end }}
{{ end }}