{{ define "main" }}
<article class="homepage">

    {{- with .Site.Taxonomies.categories -}}
        <p class="homepage__headline"><strong>de<span>·</span>centrum</strong> — praktická <em>soběstačnost</em>
v komplexním světě, stojící
na pilířích <a href="{{ .technologie.Page.Permalink }}">technologií</a>, <a href="{{ .finance.Page.Permalink }}">financí</a>,
praktických <a href="{{ .dovednosti.Page.Permalink }}">dovedností</a> a <a href="{{ .zdravi.Page.Permalink }}">zdraví</a>.</p>
    {{- end -}}

    <section class="homepage__archive">
        <h2 class="homepage__heading">Poslední článek</h2>
        {{ partial "archive.html" . }}
    </section>

    {{ with resources.Get "img/tree.png" }}
        {{ $params := "%vx q%v jpg #fff" }}
        {{ $width := 600 }}
        {{ $widthRetina := 1200 }}
        {{ $tinyWidth := 400 }}
        {{ $tinyWidthRetina := 800 }}
        {{ $quality := 70 }}
        {{ $qualityRetina := 50 }}
        {{ $image := .Resize (printf $params $width $quality) }}
        {{ $imageRetina := .Resize (printf $params $widthRetina $qualityRetina) }}
        {{ $imageTiny := .Resize (printf $params $tinyWidth $quality) }}
        {{ $imageTinyRetina := .Resize (printf $params $tinyWidthRetina $qualityRetina) }}
        <img
            sizes="(min-width: 760px) 30vw, (min-width: 440px) 70vw, 90vw"
            srcset="{{ $image.Permalink }} {{ $width }}w, {{ $imageRetina.Permalink }} {{ $widthRetina }}w, {{ $imageTiny.Permalink }} {{ $tinyWidth }}w, {{ $imageTinyRetina.Permalink }} {{ $tinyWidthRetina }}w"
            src="{{ $image.Permalink }}"
            class="homepage__illustration homepage__illustration--tree"
            role="presentation"
            loading="lazy"
        >
    {{ end }}
    {{ with resources.Get "img/binary-tree.svg" }}
        <img class="homepage__illustration homepage__illustration--binary-tree" src="{{ .Permalink }}" loading="lazy" role="presentation">
    {{ end }}

</article>
{{ end }}