.archive {}

    .archive__item {
        position: relative;

        &:not(:last-child) {
            margin-bottom: lines(1.5);

            .archive--latest & {
                margin-bottom: lines(.75);
            }
        }

        &:not(:first-child) {
            border-top: 1px solid $colorShade;
            padding-top: lines(1.5);

            .archive--latest & {
                padding-top: lines(.75);
            }
        }

        .archive:not(.archive--latest) & {
            margin-left: 6em;

            &[data-year] {
                padding-left: 6em;
                margin-left: 0;

                &:before {
                    @include size('kilo');

                    content: attr(data-year);
                    position: absolute;
                    left: 0;
                    font-family: $fontGrotesk;
                    font-feature-settings: 'liga', 'case';
                    font-variation-settings: 'wght' var(--light-weight);
                    letter-spacing: .05em;
                }
            }

            @media (max-width: $screenSmall) {
                margin-left: 4em;

                &[data-year] {
                    padding-left: 4em;
                    margin-left: 0;
                }
            }

            @media (max-width: $screenTiny) {
                margin-left: 0;

                &[data-year] {
                    padding-left: 0;

                    &:before {
                        position: static;
                        display: block;
                        margin-bottom: lines(2);
                    }
                }
            }
        }

        @media (max-width: $screenSmall) {

            &:not(:last-child) {
                margin-bottom: lines(1);
            }

            &:not(:first-child) {
                padding-top: lines(1);
            }
        }
    }
