.article {
    width: $siteContentLength;

    @media (max-width: $screenLarge) {
        width: auto;
    }
}

    .article__header {
        margin-bottom: lines(4);
        margin-top: -.2rem;

        @media (max-width: $screenMedium) {
            margin-top: 0;
            margin-bottom: lines(2);
        }

        @media (max-width: $screenSmall) {
            margin-bottom: lines(1);
        }
    }

        .article__title {
            @include size('tera');

            padding-bottom: lines(.25);
            border-bottom: 1px solid $colorShade;

            &:not(:last-child) {
                margin-bottom: lines(.5);
            }

            @media (max-width: $screenSmall) {
                @include size('giga');
            }
        }

        .article__meta {
            @include size('pico');

            display: flex;
            align-items: flex-start;

            &:not(:last-child) {
                margin-bottom: lines(3);

                @media (max-width: $screenMedium) {
                    margin-bottom: lines(2);
                }

                @media (max-width: $screenSmall) {
                    margin-bottom: lines(1);
                }
            }

            > li:not(:last-child) {
                margin-right: 2em;
            }
        }

            .article__categories {}

        .article__illustration {
            --width: 80%;

            position: relative;
            display: block;
            margin: 0 auto lines(1);
            width: var(--width);
            background: $colorBackground;
            padding-bottom: calc(var(--ratio) * var(--width));
            transform: translateZ(0);

            @media (max-width: $screenSmall) {
                --width: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                mix-blend-mode: multiply;

                :root.dark & {
                    filter: invert(1);
                    mix-blend-mode: screen;
                    opacity: .9;
                }
            }

            .article__illustration-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                mix-blend-mode: multiply;
                color: $colorHighlight;

                :root.dark & {
                    mix-blend-mode: screen;
                }

                svg {
                    fill: currentColor;
                }
            }
        }

        .article__intro {
            width: 85%;
            text-align: center;
            margin: 0 auto;

            @media (max-width: $screenSmall) {
                width: auto;
            }

            p {
                @include size('milli');

                font-style: italic;
                margin-bottom: lines(.5);
                color: $colorTextMedium;

                &:before {
                    content: '„';
                    color: $colorTextLight;
                }

                &:after {
                    content: '”';
                    color: $colorTextLight;
                }
            }

            cite {
                @include size('nano');

                font-family: $fontGrotesk;
                letter-spacing: .0125em;
                color: $colorTextLight;
                display: block;
                font-style: normal;

                a {
                    color: inherit;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        color: $colorHighlight;
                    }
                }
            }
        }

    .article__content {
        margin-bottom: lines(3);

        @media (max-width: $screenSmall) {
            margin-bottom: lines(2);
        }

        @media (max-width: $screenTiny) {
            margin-bottom: lines(1);
        }

        &[data-dropcap] {

            > p:first-of-type:first-letter {
                font-size: 0;
            }

            &:before {
                content: attr(data-dropcap);
                float: left;
                font-size: 7.12rem;
                font-variation-settings: 'wght' var(--weight-dropcap);
                margin-right: .05em;
                margin-top: .0675em;
                line-height: 0.65;

                @media (max-width: $screenTiny) {
                    font-size: 6.75rem;
                }
            }
        }

        &[data-dropcap="J"]:before {
            margin-bottom: .1em;
        }
    }

        .article__figure {
            margin: lines(1.5) 0;

            &--right {
                width: 50%;
                float: right;
                margin-right: -25%;
                margin-left: 3em;

                @media (max-width: $screenLarge) {
                    margin-right: 0;
                    width: 40%;
                    margin-left: 2em;
                }

                @media (max-width: $screenMedium) {
                    margin-right: -5vw;
                    margin-left: 1em;
                }
            }

            &--left {
                float: left;
                width: 50%;
                margin-right: 2em;
                margin-left: -25%;

                @media (max-width: $screenMedium) {
                    width: 40%;
                    margin-left: -5vw;
                    margin-right: 1.5em;
                }
            }

            &--small-right {
                width: 30%;
                float: right;
                margin-left: 2em;
            }

            &--small-left {
                float: left;
                width: 30%;
                margin-right: 2em;
            }

            &--hero {
                margin: lines(1.5) -20%;

                @media (max-width: $screenLarge) {
                    margin-right: 0;
                    margin-left: -40%;
                }

                @media (max-width: $screenMedium) {
                    margin: lines(1) -5vw;
                }
            }

            &--small {
                margin: lines(1.5) 20%;
            }

            &--left,
            &--right,
            &--small-right,
            &--small-left {
                margin-top: .25em;
                margin-bottom: 1.5em;

                @media (max-width: $screenMedium) {
                    margin-bottom: 1em;
                }

                @media (max-width: $screenSmall) {
                    float: none;
                    width: auto;
                }
            }

            &--small-left,
            &--small-right,
            &--small {

                @media (max-width: $screenSmall) {
                    width: 80%;
                }
            }

            @media (max-width: $screenSmall) {
                margin: lines(1) auto !important;
            }
        }

    .article__discussion {}
