* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
}

html {
    background: $colorBackground;
    color: $colorText;
    font-family: $fontSerif;
    line-height: $baseLineHeight;
    font-size: $baseFontSize;
    font-variation-settings: 'wght' 375;
}

body {
    padding: 3vw;
    padding-bottom: 6vw;
    display: flex;
}

::selection {
    color: $colorHighlight;
    background: rgba($colorHighlight, .05);
}