* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    outline: none;
    background: none;
    box-sizing: border-box;
}

html {
    --color-background: #f5f6fa;
    --color-highlight-b: 0;
    --color-highlight-g: 0;
    --color-highlight-r: 255;
    --color-text-b: 0;
    --color-text-g: 0;
    --color-text-r: 0;
    --color-tiles: #03327b;
    --opacity-image: 1;
    --opacity-text: .85;
    --weight-dropcap: 350;
    --weight-heading: 600;
    --weight-light: 300;
    --weight-strong: 500;
    --weight-text: 375;

    &.dark {
        --color-background: #191e20;
        --color-highlight-b: 255;
        --color-highlight-g: 255;
        --color-highlight-r: 0;
        --color-text-b: 255;
        --color-text-g: 255;
        --color-text-r: 255;
        --color-tiles: #990808;
        --opacity-image: .85;
        --opacity-text: .85;
        --weight-dropcap: 300;
        --weight-heading: 550;
        --weight-light: 300;
        --weight-strong: 400;
        --weight-text: 325;
    }

    background: $colorBackground;
    color: $colorText;
    font-family: $fontSerif;
    line-height: $baseLineHeight;
    font-size: $baseFontSize;
    font-variation-settings: 'wght' var(--weight-text);

    @media (max-width: $screenTiny) {
        line-height: $smallLineHeight;
        font-size: $smallFontSize;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 3vw;

    @media (max-width: $screenMedium) {
        padding: 6vw 10vw;
    }

    @media (max-width: $screenSmall) {
        padding: 5vw;
    }
}

::selection {
    color: $colorHighlight;
    background: rgba(var(--color-highlight-r), var(--color-highlight-g), var(--color-highlight-b), .05);
}

a {
    color: inherit;
    text-decoration: none;
}