* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    outline: none;
    background: none;
    box-sizing: border-box;
}

html {
    --color-text-r: 0;
    --color-text-g: 0;
    --color-text-b: 0;
    --color-highlight-r: 255;
    --color-highlight-g: 0;
    --color-highlight-b: 0;
    --color-tiles: #03327b;
    --color-background: rgb(245, 246, 250);
    --opacity-text: .85;
    --text-weight: 375;
    --heading-weight: 600;
    --strong-weight: 500;
    --dropcap-weight: 350;
    --image-opacity: 1;

    &.dark {
        --color-text-r: 255;
        --color-text-g: 255;
        --color-text-b: 255;
        --color-highlight-r: 0;
        --color-highlight-g: 255;
        --color-highlight-b: 255;
        --color-tiles: #990808;
        --color-background: #191e20;
        --opacity-text: .85;
        --text-weight: 325;
        --heading-weight: 550;
        --strong-weight: 400;
        --dropcap-weight: 300;
        --image-opacity: .85;
    }

    background: $colorBackground;
    color: $colorText;
    font-family: $fontSerif;
    line-height: $baseLineHeight;
    font-size: $baseFontSize;
    font-variation-settings: 'wght' var(--text-weight);

    @media (max-width: $screenTiny) {
        line-height: $smallLineHeight;
        font-size: $smallFontSize;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 3vw;

    @media (max-width: $screenMedium) {
        padding: 6vw 10vw;
    }

    @media (max-width: $screenSmall) {
        padding: 5vw;
    }
}

::selection {
    color: $colorHighlight;
    background: rgba(var(--color-highlight-r), var(--color-highlight-g), var(--color-highlight-b), .05);
}

a {
    color: inherit;
    text-decoration: none;
}