.categories-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > li:not(:last-child) {

        &:after {
            display: inline-block;
            padding: 0 .25em;
            content: '·';
            font-variation-settings: 'wght' var(--weight-heading);
        }
    }

    a {

        &:hover,
        &:focus,
        &.is-active {
            color: $colorHighlight;
        }
    }
}