$fontDisplay: 'Space Grotesk', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
$fontBody: 'Source Serif Variable', 'Georgia', serif;

$colorText: rgba(black, .9);
$colorTextMedium: rgba(black, .7);
$colorTextLight: rgba(black, .5);

$colorBackground: rgb(245, 246, 250);