$fontGrotesk: 'Space Grotesk', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
$fontSerif: 'Source Serif Variable', 'Georgia', serif;

$colorText: rgba(var(--color-text-r), var(--color-text-g), var(--color-text-b), var(--opacity-text));
$colorTextMedium: rgba(var(--color-text-r), var(--color-text-g), var(--color-text-b), .7);
$colorTextLight: rgba(var(--color-text-r), var(--color-text-g), var(--color-text-b), .5);
$colorBackground: var(--color-background);
$colorHighlight: rgba(var(--color-highlight-r), var(--color-highlight-g), var(--color-highlight-b), .8);
$colorShade: rgba(var(--color-text-r), var(--color-text-g), var(--color-text-b), .1);
$colorShadeLight: rgba(var(--color-text-r), var(--color-text-g), var(--color-text-b), .05);

$baseFontSize: 1.25em;
$baseLineHeight: 1.4;
$smallFontSize: 1.125em;
$smallLineHeight: 1.333;

@function lines($count) {
    @return $count * $baseLineHeight * 1rem;
}

$sizePico: .6rem;
$sizeNano: .7rem;
$sizeMicro: .8rem;
$sizeMilli: .9rem;
$sizeKilo: 1.125rem;
$sizeMega: 1.25rem;
$sizeGiga: 1.5rem;
$sizePeta: 2rem;

$siteContentLength: 38rem;
$headerWidth: 15rem;
$headerGap: 6vw;

$screenLarge: $siteContentLength * 2.25;
$screenMedium: $siteContentLength * 1.75;
$screenSmall: $siteContentLength * 1.25;
$screenTiny: $siteContentLength * .725;

@mixin squares($size, $color) {
    $distance: $size + ($size / 3);

    content: '';
    display: block;
    color: $color;
    width: $size;
    height: $size;
    transform: translate($distance, $distance / -2) rotate(45deg);
    background: currentColor;
    box-shadow: 0 $distance 0 0 currentColor,
                $distance 0 0 0 currentColor,
                -$distance $distance 0 0 currentColor;
}