.content {

    h2 {
        font-family: $fontGrotesk;
        font-size: $sizeKilo;
        font-variation-settings: 'wght' var(--heading-weight);
        margin-bottom: lines(1);
        margin-top: lines(4);
        line-height: lines(1);
        text-transform: uppercase;
        letter-spacing: .075em;
        font-feature-settings: 'zero', 'liga', 'case';
        clear: both;

        @media (max-width: $screenSmall) {
            margin-top: lines(2);
            margin-bottom: lines(.5);
        }
    }

    h3 {
        font-family: $fontSerif;
        font-size: $sizeKilo;
        font-variation-settings: 'wght' var(--heading-weight);
        line-height: lines(1);
        margin-bottom: lines(.5);
        margin-top: lines(2);
        font-feature-settings: 'smcp';
        clear: both;

        @media (max-width: $screenSmall) {
            margin-top: lines(1);
            margin-bottom: lines(.25);
        }
    }

    h2, h3 {
        position: relative;
        cursor: pointer;

        &:hover:before,
        &:focus:before,
        &:target:before {
            content: '→';
            position: absolute;
            right: calc(100% + .5rem);
            top: 50%;
            transform: translateY(-45%);
            font-variation-settings: 'wght' 100;
            font-family: $fontGrotesk;
            font-size: 1rem;
        }
    }

    p {

        &:not(:last-child) {
            margin-bottom: lines(1);
        }

        a {
            color: inherit;

            &:hover,
            &:focus {
                text-decoration: none;
                color: $colorHighlight;
            }
        }

        strong {
            font-variation-settings: 'wght' var(--strong-weight);
        }

        sup[id^="fnref"] {
            vertical-align: baseline;
            font-size: 1rem;
            font-feature-settings: 'sups';
            padding: 0 .05em 0 .125em;
            width: .75em;

            a {
                text-decoration: none;
                margin: 0 -.5em;
                padding: 0 .5em;
            }

            &:target a {
                color: $colorHighlight;
            }
        }

        .lede {
            font-feature-settings: 'smcp';
            font-variation-settings: 'wght' var(--strong-weight);
        }
    }

    .pullout {
        font-variation-settings: 'wght' var(--strong-weight);
        font-size: $sizeKilo;
        margin: lines(2) 0 !important;

        &:before {
            $squareSize: .3em;
            $squareDistance: $squareSize + .1em;

            content: '';
            color: $colorTextMedium;
            width: $squareSize;
            height: $squareSize;
            transform: translateX(-$squareSize) rotate(45deg);
            display: block;
            margin: 0 auto lines(1) auto;
            background: currentColor;
            box-shadow: 0 $squareDistance 0 0 currentColor,
                        $squareDistance 0 0 0 currentColor,
                        -$squareDistance $squareDistance 0 0 currentColor;
        }

        @media (max-width: $screenSmall) {
            margin: lines(1.5) 0 !important;
        }
    }

    .footnotes {
        margin-top: lines(3);

        @media (max-width: $screenSmall) {
            margin-top: lines(2);
        }

        &:before {
            content: 'Poznámky';
            display: block;
            font-family: $fontGrotesk;
            font-size: $sizeMicro;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-variation-settings: 'wght' 500;
            margin-bottom: lines(.75);
            font-feature-settings: 'smcp';
        }

        hr {
            display: none;
        }

        ol {
            counter-reset: footnotes;
            font-size: $sizeMicro;

            @media (max-width: $screenSmall) {
                margin-left: 3em;
            }
        }

        li {
            display: block;
            counter-increment: footnotes;
            position: relative;

            &:not(:last-child) {
                margin-bottom: lines(.5);
            }

            &:before {
                position: absolute;
                top: 0;
                right: 100%;
                content: counter(footnotes) ' · ';
                color: $colorTextLight;
                white-space: nowrap;
                padding-right: .4em;
            }

            &:target:before {
                color: $colorHighlight;
            }

            .footnote-backref {
                position: absolute;
                top: 0;
                right: calc(100% + 2.4em);
                width: 2em;
                height: 2em;
                text-align: center;
                line-height: 2em;
                text-decoration: none;
                opacity: 0;
                transform: translate(50%, -.25em) scaleX(-1) rotate(0deg);
                transition: transform .2s;

                &:hover,
                &:focus {
                    color: $colorHighlight !important;
                    transform: translate(50%, -.25em) scaleX(-1) rotate(90deg);
                }
            }

            &:nth-child(n + 10) .footnote-backref {
                right: calc(100% + 2.8em);
            }

            &:hover .footnote-backref {
                opacity: 1;
                color: $colorTextLight;
            }

            &:target .footnote-backref {
                color: $colorHighlight;
                opacity: 1;
            }
        }
    }
}
