.content {

    h2 {
        @include size('kilo');

        font-family: $fontGrotesk;
        font-variation-settings: 'wght' var(--weight-heading);
        line-height: lines(1);
        margin-bottom: lines(1);
        margin-top: lines(4);
        text-transform: uppercase;
        letter-spacing: .075em;
        font-feature-settings: 'zero', 'liga', 'case', 'ss02';
        clear: both;

        @media (max-width: $screenSmall) {
            margin-top: lines(2);
            margin-bottom: lines(.5);
        }
    }

    h3 {
        @include size('kilo');

        font-family: $fontSerif;
        font-variation-settings: 'wght' var(--weight-heading);
        margin-bottom: lines(.5);
        line-height: lines(1);
        margin-top: lines(2);
        font-feature-settings: 'smcp';

        @media (max-width: $screenSmall) {
            margin-top: lines(1);
            margin-bottom: lines(.25);
        }
    }

    p {

        &:not(:last-child) {
            margin-bottom: lines(1);
        }

        strong {
            font-variation-settings: 'wght' var(--weight-strong);
        }

        sup[id^="fnref"] {
            vertical-align: baseline;
            font-size: 1rem;
            font-feature-settings: 'sups';
            padding: 0 .05em 0 .075em;

            a {
                text-decoration: none;
                margin: 0 -.5em;
                padding: 0 .5em;
            }

            &:target a {
                color: $colorHighlight;
            }
        }

        .lede {
            font-feature-settings: 'smcp';
            font-variation-settings: 'wght' var(--weight-strong);
        }
    }

    a {
        text-decoration: underline;

        &:hover,
        &:focus {
            text-decoration: none;
            color: $colorHighlight;
        }
    }

    .pullout {
        @include size('kilo');

        font-variation-settings: 'wght' var(--weight-strong);
        margin: lines(2) 0 !important;

        &:before {
            @include squares(.3em, $colorTextMedium);

            margin: 0 auto lines(.75) auto;
        }

        @media (max-width: $screenSmall) {
            margin: lines(1.5) 0 !important;
        }
    }

    .footnotes {
        margin-top: lines(5);

        @media (max-width: $screenMedium) {
            margin-top: lines(3);
        }

        @media (max-width: $screenSmall) {
            margin-top: lines(2);
        }

        @media (max-width: $screenTiny) {
            margin-top: lines(1);
        }

        &:before {
            @include size('milli');

            content: 'Poznámky';
            display: block;
            font-family: $fontGrotesk;
            text-transform: uppercase;
            letter-spacing: .15em;
            font-variation-settings: 'wght' var(--weight-heading);
            margin-bottom: lines(.75);
            font-feature-settings: 'zero', 'liga', 'case', 'ss02';
        }

        hr {
            display: none;
        }

        ol {
            @include size('micro');

            counter-reset: footnotes;

            @media (max-width: $screenSmall) {
                margin-left: 3em;
            }
        }

        li {
            display: block;
            counter-increment: footnotes;
            position: relative;

            &:not(:last-child) {
                margin-bottom: lines(.5);
            }

            &:before {
                position: absolute;
                top: 0;
                right: 100%;
                content: counter(footnotes) ' · ';
                color: $colorTextLight;
                white-space: nowrap;
                padding-right: .4em;
            }

            &:target:before {
                color: $colorHighlight;
            }

            .footnote-backref {
                position: absolute;
                top: 0;
                right: calc(100% + 2.4em);
                width: 2em;
                height: 2em;
                text-align: center;
                line-height: 2em;
                text-decoration: none;
                opacity: 0;
                transform: translate(50%, -.25em) scaleX(-1) rotate(0deg);
                transition: transform .2s;

                &:hover,
                &:focus {
                    color: $colorHighlight !important;
                    transform: translate(50%, -.25em) scaleX(-1) rotate(90deg);
                }
            }

            &:nth-child(n + 10) .footnote-backref {
                right: calc(100% + 2.8em);
            }

            &:hover .footnote-backref {
                opacity: 1;
                color: $colorTextLight;
            }

            &:target .footnote-backref {
                color: $colorHighlight;
                opacity: 1;
            }
        }
    }
}
