@import 'config.scss';
@import 'typo.scss';

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

html {
    background: rgb(245, 246, 250);
    color: rgba(black, .9);
    font-family: $fontBody;
    line-height: 1.4;
    font-size: 1.25em;
    font-weight: 375;
}

body {
    padding: 3vw;
    display: flex;
}

.site-header {
    width: 15em;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}

    .tiles {
        display: grid;
        grid-gap: .6em;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 4.2rem;
    }

        .tile {
            overflow: hidden;

            &:first-child {
                font-family: 'Space Grotesk';
                line-height: 1.25;
                margin-top: -.125em;
                display: flex;
                flex-direction: column;
            }

            &:last-child {
                display: flex;
                flex-direction: column;
            }

            &:not(:first-child):not(:last-child) {
                background: #03327b;
                transition: background .5s, opacity .5s;
                opacity: .75;
                cursor: pointer;

                img {
                    display: block;
                    box-sizing: border-box;
                    max-width: 100%;
                    mix-blend-mode: difference;
                    transition: transform .3s;
                }

                &:hover,
                &:focus {
                    background: black;
                    opacity: 1;

                    img {
                        transform: scale(1.5);
                    }
                }
            }
        }

            .site-title {
                font-size: .875rem;
                font-weight: 600;
                margin-bottom: auto;
                letter-spacing: .05em;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover,
                    &:focus {
                        color: red;
                    }
                }

                span {
                    display: inline-block;
                    margin: 0 .125em;
                    opacity: .15;
                    user-select: none;
                    transition: transform .5s, opacity .5s;
                    transform-style: ease-in;
                    transform-origin: center;
                    transform: translateY(.175em) scale(1.5);

                }

                &:hover,
                &:focus {

                    span {
                        opacity: .1;
                        transform: translateY(1em) scale(3);
                    }
                }
            }

            .site-desc {
                font-weight: 375;
                color: rgba(black, .5);
                text-align: right;
                font-size: .675em;
            }

.site-nav {
    font-family: 'Space Grotesk';
    font-size: .675em;
    margin-top: auto;
    margin-bottom: -.25em;

    ul {
        justify-content: space-between;
        text-align: right;
    }

    li {
        display: block;

        &:not(:last-child) {
            margin-bottom: .5em;
        }
    }

    a {
        display: flex;
        align-items: baseline;
        line-height: 1;
        color: rgba(black, .75);
        text-decoration: none;
        letter-spacing: .05em;

        &:before {
            content: '';
            flex-grow: 1;
            margin-right: .5em;
            border-bottom: 1px dotted rgba(black, .2);
        }

        &:hover,
        &:focus {
            color: red;

            &:before {
                border-bottom-style: solid;
            }
        }
    }
}

.site-intro {
    font-size: .75em;
    color: rgba(black, .5);
}

.site-disclaimer {
    font-size: .75em;
    margin-top: auto;
    color: rgba(black, .7);

    p {
        color: rgba(black, .5);
    }
}

.site-content {
    width: 38em;
}

.article {}

    .article__header {
        margin-bottom: 2.8rem;

        time {
            display: flex;
            font-family: 'Space Grotesk';
            color: $colorTextLight;
            letter-spacing: .075em;
            font-weight: 400;
            font-size: .8rem;
            margin-bottom: 2.4em;
            align-items: center;
            line-height: 1;

            span {
                display: inline-block;
                margin: 0 .2em;
            }

            &:after {
                content: '';
                flex-grow: 1;
                height: 1px;
                background: rgba(black, .1);
                margin-left: 1em;
                position: relative;
                top: -.1em;
            }
        }

        h1 {
            font-family: 'Space Grotesk';
            line-height: 1.2;
            font-size: 2em;
            font-weight: 600;
            font-feature-settings: 'zero', 'liga', 'case';
        }

        ul {
            display: flex;
            font-style: italic;
            color: $colorTextLight;
        }

        li {
            display: flex;

            &:not(:first-child):before {
                content: '·';
                margin: 0 .3em;
            }
        }
    }

    .article__footer {
        margin-top: 4.2rem;
        border: solid rgba(black, .1);
        border-width: 1px 0;
        padding: 1.4rem 0;
    }

        .article__nav {
            font-size: .8rem;
            font-family: 'Space Grotesk';
            display: flex;
            justify-content: space-between;
            align-items: center;
            letter-spacing: .025em;

            a {
                text-decoration: none;
                color: $colorTextMedium;
                display: flex;
                line-height: 1;

                span {
                    text-decoration: underline;
                    text-decoration-color: rgba(black, .3);
                }

                &:before,
                &:after {
                    text-decoration: none;
                }

                &[rel="top"]:before {
                    content: '↑';
                    margin-right: .5em;
                }

                &[rel="prev"]:before {
                    content: '←';
                    margin-right: .5em;
                }

                &[rel="next"]:after {
                    content: '→';
                    margin-left: .5em;
                }

                &:hover,
                &:focus {

                    span {
                        color: red;
                        text-decoration: none;
                        background: rgba(red, .075);
                    }
                }
            }
        }

.content {

    h2 {
        font-family: 'Space Grotesk';
        line-height: 1.16667;
        font-size: 1.1em;
        font-weight: 550;
        margin-bottom: .75em;
        margin-top: 2.8rem;
        font-feature-settings: 'zero', 'liga', 'case';
    }

    h3 {
        font-family: 'Source Serif Variable';
        line-height: 1.4;
        font-size: 1em;
        font-weight: 650;
        margin-bottom: .5em;
        margin-top: 2.1rem;
        font-feature-settings: 'smcp';
    }

    p {

        &:not(:last-child) {
            margin-bottom: 1.4em;
        }

        a {
            color: inherit;
            text-decoration-color: rgba(black, .5);
            text-decoration-thickness: 1px;

            &:hover,
            &:focus {
                text-decoration: none;
                background: rgba(red, .075);
                color: red;
            }
        }

        strong {
            font-weight: 600;
        }
    }
}
