.newsletter-form {
    display: flex;

    @media (max-width: $screenSmall) {
        flex-direction: column;
    }

    input {
        flex-grow: 1;
        font-family: $fontGrotesk;
        letter-spacing: .175em;
        font-size: $sizeMicro;
        text-transform: uppercase;
        padding: 1.5em;
        border: 1px solid $colorShade;
        font-variation-settings: 'wght' 300;
        line-height: 1;
        color: $colorText;
        background: white;

        :root.dark & {
            background: black;
        }

        &[name="beehive"] {
            display: none;
        }

        &:invalid + button {
            opacity: .25;
            cursor: default;
        }

        &:valid + button {

            &:hover,
            &:focus {
                color: red;
            }
        }
    }

    button {
        font-family: $fontGrotesk;
        font-size: $sizeMicro;
        letter-spacing: .1em;
        padding: 1em;
        text-transform: uppercase;
        font-variation-settings: 'wght' 600;
        margin-left: 1em;
        cursor: pointer;
        background: none;
        color: $colorText;

        @media (max-width: $screenSmall) {
            margin-left: auto;
            padding-right: 0;
        }
    }
}