.section {
    width: $siteContentLength;

    @media (max-width: $screenMedium) {
        width: auto;
    }
}

    .section__header {
        margin-bottom: lines(3);
        margin-top: -.2rem;

        @media (max-width: $screenMedium) {
            margin-top: 0;
            margin-bottom: lines(2);
        }

        @media (max-width: $screenSmall) {
            margin-bottom: lines(1);
        }
    }

        .section__title {
            @include size('tera');

            padding-bottom: lines(.25);
            border-bottom: 1px solid $colorShade;

            &:not(:last-child) {
                margin-bottom: lines(.5);
            }

            @media (max-width: $screenSmall) {
                @include size('giga');
            }
        }

        .section__filters {
            @include size('pico');

            color: $colorTextMedium;
            font-variation-settings: 'wght' var(--heading-weight);
        }