.section {
    width: $siteContentLength;

    @media (max-width: $screenMedium) {
        width: auto;
    }
}

    .section__header {
        margin-bottom: lines(3);
        margin-top: -.2rem;

        @media (max-width: $screenMedium) {
            margin-bottom: lines(2);
        }
    }

        .section__title {
            font-family: $fontGrotesk;
            line-height: 1.2;
            font-size: $sizePeta;
            font-variation-settings: 'wght' var(--heading-weight);
            font-feature-settings: 'zero', 'liga', 'case';
            padding-bottom: lines(.25);
            border-bottom: 1px solid $colorShade;

            &:not(:last-child) {
                margin-bottom: lines(.6);
            }

            @media (max-width: $screenSmall) {
                font-size: $sizeGiga;
            }
        }

        .section__filters {
            font-family: $fontGrotesk;
            color: $colorTextMedium;
            letter-spacing: .075em;
            font-size: $sizePico;
            text-transform: uppercase;
            font-variation-settings: 'wght' var(--strong-weight);
            line-height: 1.375;
            display: flex;

            ul {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            li {
                display: block;
            }

            li:not(:last-child) {

                &:after {
                    display: inline-block;
                    padding: 0 .5em;
                    content: '·';
                    font-variation-settings: 'wght' var(--heading-weight);
                }
            }

            a {

                &:hover,
                &:focus,
                &.is-active {
                    color: $colorHighlight;
                }
            }
        }