.site-header {
    width: $headerWidth;
    margin-right: $headerGap;
    flex-shrink: 0;

    @media (max-width: $screenMedium) {
        width: auto;
        margin: 0 0 $headerGap 0;
    }

    @media (max-width: $screenSmall) {
        margin-bottom: lines(2);
    }

    @media (max-width: $screenTiny) {
        margin-bottom: lines(1.5);
    }
}

    .site-header__nav {
        display: grid;
        grid-gap: .6em;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: $screenMedium) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1vw;
        }

        @media (max-width: $screenSmall) {
            grid-gap: 1.5vw;
            grid-template-columns: repeat(3, 1fr);
            max-width: 24em;
        }

        @media (max-width: $screenTiny) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3vw;
        }
    }

        .site-header__tile {

            &:first-child {
                font-family: $fontGrotesk;
                line-height: 1.25;
                margin-top: -.125em;
            }

            &:last-child {

                @media (max-width: $screenSmall) and (min-width: $screenTiny),
                       (max-width: $screenLarge) and (min-width: $screenMedium) {
                    position: relative;
                }
            }

            &:first-child,
            &:last-child {
                display: flex;
                flex-direction: column;

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    grid-column: 1 / span 4;
                    flex-direction: row;
                    margin-top: 0;
                    justify-content: space-between;
                    align-items: flex-end;
                }

                @media (max-width: $screenTiny) {
                    grid-column: 1 / span 2;
                }
            }

            &:not(:first-child):not(:last-child) {
                background: var(--color-tiles);
                transition: background .5s, opacity .5s;
                opacity: .75;
                height: 0;
                padding-bottom: 100%;
                position: relative;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: difference;
                    transition: transform .3s;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -50%;
                    left: -50%;
                    width: 200%;
                    height: 200%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: rgba(white, .65);
                    background-size: 30%;
                    z-index: 2;
                    filter: invert(1);
                    opacity: 0;
                    transition: transform .5s, opacity .4s;
                    transform: scale(.75);
                    pointer-events: none;
                }

                &:hover,
                &:focus {
                    background: black;
                    opacity: .9;

                    img {
                        transform: scale(1.5);
                    }

                    &:before {
                        opacity: 1;
                        transform: none;
                    }
                }
            }

            &:nth-child(2):before {
                background-image: url('/img/icon-skills.svg');
            }

            &:nth-child(3):before {
                background-image: url('/img/icon-health.svg');
            }

            &:nth-child(4):before {
                background-image: url('/img/icon-money.svg');
            }

            &:nth-child(5):before {
                background-image: url('/img/icon-technology.svg');
            }
        }

            .site-header__title {
                $circleDiameter: 2.575em * 2;
                $dotDiameter: .25em;
                $innerDiameter: $circleDiameter - $dotDiameter;
                @mixin dots($color) {
                    box-shadow: $innerDiameter 0 0 0 $color,
                                ($innerDiameter / 2) ($innerDiameter / 2) 0 .0 $color,
                                ($innerDiameter / 2) (-$innerDiameter / 2) 0 .0 $color;
                }

                font-size: $sizeMilli;
                font-variation-settings: 'wght' 500;
                margin-bottom: auto;
                letter-spacing: .05em;
                position: relative;

                a {
                    text-decoration: none;
                    color: inherit;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 4.825em;
                        height: 4.825em;
                        border-radius: 50%;
                        border: 1px dashed currentColor;
                        left: 1.5em;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: opacity 1s, color .5s, transform 2s;
                        pointer-events: none;
                        opacity: 0;
                    }

                    &:after {
                        @include dots(transparent);

                        content: '';
                        position: absolute;
                        width: $dotDiameter;
                        height: $dotDiameter;
                        border-radius: 50%;
                        background: currentColor;
                        opacity: .2;
                        left: 1.375em;
                        top: 50%;
                        transform: translateY(-50%);
                        transform-origin: 2.575em 0;
                        pointer-events: none;
                        transition: transform 1s, opacity .5s, color .5s, box-shadow .5s;
                    }

                    &:hover,
                    &:focus {
                        color: $colorHighlight;

                        &:before {
                            opacity: .4;
                            transform: translateY(-50%) rotate(-179.9deg);

                            :root.dark & {
                                opacity: .75;
                            }
                        }

                        &:after {
                            @include dots(currentColor);

                            transform: rotate(-179.9deg) translateY(-50%);
                            opacity: 1;
                        }
                    }
                }

                span {
                    padding-right: .525em;
                }
            }

            .site-header__desc {
                font-variation-settings: 'wght' 375;
                color: $colorTextLight;
                text-align: right;
                font-size: $sizePico;
                white-space: pre;

                @media (max-width: $screenMedium) and (min-width: $screenSmall) {
                    white-space: normal;
                }

                @media (max-width: $screenTiny) {
                    display: none;
                }
            }

            .site-header__lightswitch {
                position: absolute;
                top: 3vw;
                right: 3vw;

                @media (max-width: $screenMedium) {
                    position: relative;
                    top: 0;
                    right: 0;
                }

                @media (max-width: $screenSmall),
                       (max-width: $screenLarge) and (min-width: $screenMedium) {
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                @media (max-width: $screenTiny) {
                    top: 5vw;
                    right: 5vw;
                }
            }

        .site-header__links {
            font-family: $fontGrotesk;
            font-size: $sizeNano;
            margin-top: auto;
            margin-bottom: -.25em;
            text-align: right;

            @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                display: flex;
                margin: .25em 0 0 0;
            }

            @media (max-width: $screenTiny) {
                margin-left: auto;
            }

            li {
                display: block;

                &:not(:last-child) {
                    margin-bottom: .5em;
                }

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    margin-bottom: 0 !important;
                    display: flex;
                    align-items: center;

                    &:not(:first-child):before {
                        content: '·';
                        padding: 0 .5em;
                    }
                }
            }

            a {
                display: flex;
                align-items: baseline;
                line-height: 1;
                color: $colorTextMedium;
                text-decoration: none;
                letter-spacing: .05em;

                &:before {
                    content: '';
                    flex-grow: 1;
                    margin-right: .5em;
                    border-bottom: 1px dotted currentColor;
                    opacity: .25;
                }

                &:hover,
                &:focus,
                &.is-active {
                    color: $colorHighlight;

                    &:before {
                        border-bottom-style: solid;

                        :root.dark & {
                            opacity: .5;
                        }
                    }
                }

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    display: block;

                    &:before {
                        display: none;
                    }
                }
            }
        }