.site-wrapper {
    display: flex;
    flex-grow: 1;
    margin-bottom: lines(3);

    @media (max-width: $screenMedium) {
        display: block;
        margin-bottom: lines(3);
    }

    @media (max-width: $screenSmall) {
        margin-bottom: lines(1.5);
    }
}