.site-header {
    width: 15em;
    margin-right: 6vw;
    flex-shrink: 0;

    @media (max-width: $screenMedium) {
        width: auto;
        margin: 0 6vw 6vw 6vw;
    }

    @media (max-width: $screenSmall) {
        margin: 0 0 lines(2) 0;
    }

    @media (max-width: $screenTiny) {
        margin-bottom: lines(1.5);
    }
}

    .site-header__nav {
        display: grid;
        grid-gap: .6em;
        grid-template-columns: repeat(2, 1fr);

        @media (max-width: $screenMedium) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 1vw;
        }

        @media (max-width: $screenSmall) {
            grid-gap: 1.5vw;
            grid-template-columns: repeat(3, 1fr);
            max-width: 24em;
        }

        @media (max-width: $screenTiny) {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3vw;
        }
    }

        .site-header__tile {

            &:first-child {
                font-family: $fontGrotesk;
                line-height: 1.25;
                margin-top: -.125em;
            }

            &:last-child {}

            &:first-child,
            &:last-child {
                display: flex;
                flex-direction: column;

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    grid-column: 1 / span 4;
                    flex-direction: row;
                    margin-top: 0;
                    justify-content: space-between;
                    align-items: flex-end;
                }

                @media (max-width: $screenTiny) {
                    grid-column: 1 / span 2;
                }
            }

            &:not(:first-child):not(:last-child) {
                background: #03327b;
                transition: background .5s, opacity .5s;
                opacity: .75;
                cursor: pointer;
                height: 0;
                padding-bottom: 100%;
                position: relative;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    mix-blend-mode: difference;
                    transition: transform .3s;
                }

                &:hover,
                &:focus {
                    background: black;
                    opacity: 1;

                    img {
                        transform: scale(1.5);
                    }
                }
            }
        }

            .site-header__title {
                font-size: $sizeMilli;
                font-variation-settings: 'wght' 500;
                margin-bottom: auto;
                letter-spacing: .05em;

                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover,
                    &:focus {
                        color: $colorHighlight;
                    }
                }

                span {
                    display: inline-block;
                    margin: 0 .125em;
                    opacity: .15;
                    user-select: none;
                    transition: transform .5s, opacity .5s;
                    transform-style: ease-in;
                    transform-origin: center;
                    transform: translateY(.175em) scale(1.5);

                }

                &:hover,
                &:focus {

                    span {
                        opacity: .1;
                        transform: translateY(1em) scale(3);
                    }
                }
            }

            .site-header__desc {
                font-variation-settings: 'wght' 375;
                color: $colorTextLight;
                text-align: right;
                font-size: $sizePico;
                white-space: pre;

                @media (max-width: $screenMedium) and (min-width: $screenSmall) {
                    white-space: normal;
                }

                @media (max-width: $screenTiny) {
                    display: none;
                }
            }

        .site-header__links {
            font-family: $fontGrotesk;
            font-size: $sizeNano;
            margin-top: auto;
            margin-bottom: -.25em;
            text-align: right;

            @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                display: flex;
                margin: .25em 0 0 0;
            }

            @media (max-width: $screenTiny) {
                font-size: $sizeMicro;
                margin-left: auto;
            }

            li {
                display: block;

                &:not(:last-child) {
                    margin-bottom: .5em;
                }

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    margin-bottom: 0 !important;
                    display: flex;
                    align-items: center;

                    &:not(:first-child):before {
                        content: '·';
                        padding: 0 .5em;
                    }
                }
            }

            a {
                display: flex;
                align-items: baseline;
                line-height: 1;
                color: $colorTextMedium;
                text-decoration: none;
                letter-spacing: .05em;

                &:before {
                    content: '';
                    flex-grow: 1;
                    margin-right: .5em;
                    border-bottom: 1px dotted currentColor;
                    opacity: .25;
                }

                &:hover,
                &:focus {
                    color: $colorHighlight;

                    &:before {
                        border-bottom-style: solid;
                    }
                }

                @media (max-width: $screenTiny), (max-width: $screenMedium) and (min-width: $screenSmall) {
                    display: block;

                    &:before {
                        display: none;
                    }
                }
            }
        }