.site-content {
    width: $siteContentLength;

    @media (max-width: $screenMedium) {
        width: auto;
        margin: 0 6vw;
    }

    @media (max-width: $screenSmall) {
        margin: 0;
    }
}