.spot {
    position: relative;
}

    .spot__title {
        @include size('kilo');

        margin-bottom: lines(.375);

        a {

            &:hover,
            &:focus {
                color: $colorHighlight;
            }
        }

        .spot--small & {
            @include size('mono');

            margin-bottom: lines(.25);
        }
    }

    .spot__summary {
        @include size('milli');

        margin-bottom: lines(.675);

        .spot--small & {
            @include size('micro');
        }
    }

    .spot__meta {
        @include size('pico');

        display: flex;
        align-items: flex-start;
        white-space: nowrap;

        > li:not(:last-child) {
            margin-right: 2em;
        }
    }

