@font-face {
    font-family: 'Source Serif Variable';
    src: url('/fonts/source-serif-variable.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Variable';
    src: url('/fonts/source-serif-italic-variable.woff2') format('woff2-variations');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/space-grotesk-variable.ttf') format('truetype');
    font-display: swap;
}