@font-face {
    font-family: 'Source Serif Variable';
    src: url('/fonts/source-serif-variable.woff2') format('woff2-variations');
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Variable';
    src: url('/fonts/source-serif-italic-variable.woff2') format('woff2-variations');
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/space-grotesk-variable.ttf') format('truetype');
    font-display: swap;
}

.meta {
    font-family: $fontGrotesk;
    color: $colorTextLight;
    letter-spacing: .075em;
    font-feature-settings: 'liga', 'case', 'ss02';
    text-transform: uppercase;
}

.date {
    white-space: nowrap;

    span {
        display: inline-block;
        margin: 0 .2em;
        font-variation-settings: 'wght' var(--heading-weight);
    }
}

.title {
    font-family: $fontGrotesk;
    font-variation-settings: 'wght' var(--heading-weight);
    font-feature-settings: 'zero', 'liga', 'case', 'ss02';
}

.subtitle {
    font-family: $fontGrotesk;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-variation-settings: 'wght' var(--heading-weight);
    font-feature-settings: 'zero', 'liga', 'case', 'ss02';
}