<ul class="archive {{ if (eq .IsHome true) }}archive--latest{{ end }}">
    {{ $pages := .Data.Pages }}
    {{ if .IsHome }}
        {{ $pages = (.Site.GetPage "/blog").Pages }}
    {{ end }}
    {{ $year := "" }}
    {{ range $pages }}
        {{ $postYear := .Date.Format "2006" }}
        {{ $isFirst := ne $postYear $year }}
        {{ $year = $postYear }}
        <li class="archive__item spot {{ if (eq $.IsHome true) }}spot--small{{ end }}" {{ if $isFirst }}data-year="{{ $postYear }}"{{ end }}>
            <h2 class="spot__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="spot__summary">{{ .Summary }}</p>
            <ul class="spot__meta">
                <li>
                    <time class="spot__date">{{ .Date.Format "2<span>·</span>1<span>·</span>2006" | safeHTML }}</time>
                </li>
                <li>
                    <ul class="spot__categories">
                        {{ range (.GetTerms "categories") }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                </li>
            </ul>
        </li>
    {{ end }}
</ul>