{{ $type := .Get "type" }}
{{ $crop := (default "smart" (.Get "crop")) }}
{{ $cropSmall := (default $crop (.Get "cropSmall")) }}
{{ $ratio := float (default 0.5625 (.Get "ratio")) }}
{{ $ratioSmall := float (default 0.75 (.Get "ratioSmall")) }}
{{ $params := "%vx%v q70 %v" }}

{{ $width := 760 }}
{{ if (eq $type "hero") }}
	{{ $width = 1064 }}
{{ else if (eq $type "small") }}
    {{ $width = 456 }}
{{ else if (or (eq $type "left") (eq $type "right")) }}
	{{ $width = 380 }}
{{ else if (or (eq $type "small-left") (eq $type "small-right")) }}
    {{ $width = 228 }}
{{ end }}
{{ $height := int (mul $ratio $width) }}

{{ $smallWidth := 760 }}
{{ $smallHeight := int (mul $ratioSmall $smallWidth) }}
{{ $tinyWidth := 440 }}
{{ $tinyHeight := int (mul $ratioSmall $tinyWidth) }}

{{ with .Page.Resources.GetMatch (.Get "src") }}
    {{ $isBitmap := (ne .MediaType.SubType "svg")}}
    {{ $class := cond $isBitmap "bitmap" "vector" }}
    <figure class="article__figure article__figure--{{ $class }} article__figure--{{ with $type }}{{.}}{{ end }}">
        {{ if $isBitmap }}
            {{ $image := .Fill (printf $params $width $height $crop) }}
            {{ $imageRetina := .Fill (printf $params (mul $width 2) (mul $height 2) $crop) }}
            {{ $imageSmall := .Fill (printf $params $smallWidth $smallHeight $cropSmall) }}
            {{ $imageSmallRetina := .Fill (printf $params (mul $smallWidth 2) (mul $smallHeight 2) $cropSmall) }}
            {{ $imageTiny := .Fill (printf $params $tinyWidth $tinyHeight $cropSmall) }}
            {{ $imageTinyRetina := .Fill (printf $params (mul $tinyWidth 2) (mul $tinyHeight 2) $cropSmall) }}
            <picture>
                <source media="(min-width: {{ $smallWidth }}px)" srcset="{{ $image.Permalink }}, {{ $imageRetina.Permalink }} 2x">
                <source media="(min-width: {{ $tinyWidth }}px)" srcset="{{ $imageSmall.Permalink }}, {{ $imageSmallRetina.Permalink }} 2x">
                <source media="(max-width: {{ sub $tinyWidth 1 }}px)" srcset="{{ $imageTiny.Permalink }}, {{ $imageTinyRetina.Permalink }} 2x">
                <img
                    loading="lazy"
                    src="{{ $image.Permalink }}"
                    {{ with $.Get "alt" }}
                        alt="{{.}}"
                    {{ else }}
                        role="presentation"
                    {{ end }}
                />
            </picture>
        {{ else }}
            {{ $image := resources.Minify . }}
            <img
                loading="lazy"
                src="{{ $image.Permalink }}"
                {{ with $.Get "alt" }}
                    alt="{{.}}"
                {{ else }}
                    role="presentation"
                {{ end }}
            />
        {{ end }}
    </figure>
{{ end }}
