{{ $type := .Get "type" }}
{{ $crop := (default "smart" (.Get "crop")) }}
{{ $ratio := float (default 0.5625 (.Get "ratio")) }}

{{ $width := 760 }}
{{ if (eq $type "hero") }}
	{{ $width = 1064 }}
{{ else if (eq $type "small") }}
    {{ $width = 456 }}
{{ else if (or (eq $type "left") (eq $type "right")) }}
	{{ $width = 380 }}
{{ else if (or (eq $type "small-left") (eq $type "small-right")) }}
    {{ $width = 228 }}
{{ end }}
{{ $height := int (mul $ratio $width) }}

{{ $image := .Page.Resources.GetMatch (.Get "src") }}
{{ $isBitmap := (ne $image.MediaType.SubType "svg")}}

{{ if $isBitmap }}
    {{ $image = $image.Fill (printf "%vx%v q70 %v" (mul $width 2) (mul $height 2) $crop) }}
    {{ with $.Get "sepia" }}
        {{ $image = $image.Filter (images.Sepia .) }}
    {{ end }}
{{ else }}
    {{ $viewbox := split (index (findRE "([0-9]*[.])?[0-9]+ ([0-9]*[.])?[0-9]+ ([0-9]*[.])?[0-9]+ ([0-9]*[.])?[0-9]+" $image.Content 1) 0) " " }}
    {{ $vectorWidth := float (index $viewbox 2) }}
    {{ $vectorHeight := float (index $viewbox 3) }}
    {{ $vectorRatio := div $vectorHeight $vectorWidth }}
    {{ $height = int (mul $vectorRatio $width) }}
	{{ $image = $image | resources.Minify }}
{{ end }}

<figure class="article__figure {{ if $isBitmap }}article__figure--bitmap{{ end }} article__figure--{{ with $type }}{{.}}{{ end }}">
    <img width="{{ $width }}" height="{{ $height }}" loading="lazy" src="{{ $image.Permalink }}" {{ with $.Get "alt" }}alt="{{.}}"{{ else }}role="presentation"{{ end }} />
</figure>